global:
  scrape_interval: 10s

rule_files:
  - alerts.yml

scrape_configs:
  - job_name: 'fastapi-app'
    static_configs:
      - targets: ['fastapi-app:8000']
    metrics_path: /metrics
    scrape_interval: 5s
